NODE_ENV=development
APP_PORT=8000
APP_NAME="Danimai Mongo"
APP_SLUG="danimai_mongo"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
FRONTEND_DOMAIN=http://example.com:3000
BACKEND_DOMAIN=http://localhost:8000

# Database Configuration
DATABASE_URL=

# Mail confgiuration
MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Danimai
MAIL_CLIENT_PORT=1080

# JWT
AUTH_JWT_SECRET=random-gibberish-token-for-jwt
AUTH_JWT_TOKEN_EXPIRES_IN=90d